/* 
    Document   : layout
    Created on : Sep 20, 2013, 3:22:00 PM
    Author     : emesven
    Description:
        Purpose of the stylesheet follows.
*/

body{
    display: block;
    background-color: burlywood;
}

#menu {
    alignment-adjust: central;
    width: 50%;
    height: 10%;
    background-color: red;
}

#body {
    background-color: green;
}
